<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a><b>ARDCON</b></a>
    </div>

 
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Inicia sesión</p>
  
      <form action="../../index2.html" method="post">
        <div class="form-group has-feedback">
          <input [(ngModel)]="usuario.username" name="user" type="text" class="form-control" placeholder="Nombre de Usuario" autofocus required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input [(ngModel)]="usuario.password" name="pass" type="password" class="form-control" placeholder="Contraseña" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Recuerdame
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button (click)='login()' type="submit" class="btn btn-primary btn-block btn-flat">Comenzar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->
  
      <a href="#">Olvidé mi contraseña</a><br>
      <a href="register.html" class="text-center">Registrar</a>
  
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
  
  <!-- jQuery 3 -->
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- iCheck -->
  <script src="../../plugins/iCheck/icheck.min.js"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });
    });
  </script>
  </body>